*.c.depend
_build
*.o
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
/byterun/jumptbl.h
/byterun/prims.c
/byterun/primitives
/byterun/ocamlrun
/byterun/libcamlrun.a
/config/m.h
/config/s.h
/config/Makefile
/config/version.h
/stdlib/sys.ml
/yacc/ocamlyacc
