*.c.depend
_build
*.o
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.dep*
/byterun/jumptbl.h
/byterun/prims.c
/byterun/primitives
/byterun/ocamlrun
/byterun/libcamlrun.a
/config/m.h
/config/s.h
/config/Makefile
/config/version.h
/stdlib/sys.ml
/yacc/ocamlyacc
/asmcomp/arch.ml
/asmcomp/emit.ml
/asmcomp/proc.ml
/asmcomp/reload.ml
/asmcomp/scheduling.ml
/asmcomp/selection.ml
/bytecomp/opcodes.ml
/bytecomp/runtimedef.ml
/camlheader
/camlheader_ur
/camlheaderd
/ocamlopt
/opnames.h
/parsing/lexer.ml
/parsing/parser.ml
/parsing/parser.mli
/parsing/parser.output
/stdlib/stdlib.byte.stamp
/stdlib/stdlib.cmi.stamp
/tools/cvt_emit
/tools/cvt_emit.ml
/utils/config.ml
